janitor==0.7.0  # Or the latest version you're using
cloudpickle==2.2.0
numpy==1.21.5
pandas==1.3.5
scikit_learn==1.0.2
streamlit==1.12.0
streamlit_echarts==0.4.0
protobuf==3.20.3
altair==4.2.0
